# Save file directories
/saves/
/fragref/
/fragments/

# "Embedded" python distro goes here
/python/
/python-*.zip

# IDE
/.vscode/

# "Release" zip
/factorio-cloudsaver.zip
/factorio-cloudsaver/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
